html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #9f9f9f;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

a:link {
  color: #9f9f9f;
  text-decoration: none;
}

a:visited {
  color: #9f9f9f;
}

a:hover {
  color: #d3d3d3;
  -webkit-transition: color 0.1s; /* Safari */
  transition: color 0.1s;
}

div {
  vertical-align: middle;
  margin: 0 auto;
}

.navigation {
  width: 950px;
  position: relative;
  margin-top: 50px;
  margin-left: 150px;
  display: inline-block;
}

.home {
  display: inline-block;
  float: left;
}

.menu {
  display: inline-block;
  float: left;
  margin-left: 280px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  margin: 0 10px;
}

.current {
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

.icon {
  display: inline-block;
  float: right;
}

i {
  margin: 0 10px;
}

.content {
  clear: both;
  position: relative;
  margin-top: 80px;
  width: 1200px;
}

.fig {
  margin-left: 450px;
}

.gallery {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

img {
  height: 30%;
  width: 30%;
}

.footer {
  width: 950px;
  clear: both;
  position: relative;
  margin-top: 80px;
  margin-left: 150px;
  margin-bottom: 80px;
}

.copyright {
  display: inline-block;
  float: left;
  margin-top: 20px;
}

p {
  display: inline;
}

.social {
  display: inline-block;
  float: right;
  margin-top: 20px;
}
